{% load static %}
{% load notes_tags %}
{% load user_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>
    <link rel="stylesheet" href="{% static "/notes_main/notes_main.css" %}">
</head>
<body>
    <header>
        <h1>Мои заметки</h1>
        <div class="user-actions">
            {% get_users as users %}
            {% if user.is_authenticated %}
                <p>Здравствуйте, {{ user.nickname }}</p>
                <button class="login-btn">Выход</button>
            {% else %}
                <button class="login-btn"><a href="{% url 'users:user_login' %}">Вход</a></button>
                <button class="register-btn"><a href="{% url 'users:user_registration' %}">Регистрация</a></button>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="sidebar">
            <button id="myNotesBtn" class="active"><a href="{% url 'notes_main:personal_notes' %}">Мои заметки</a></button>
            <button id="groupNotesBtn"><a href="{% url 'notes_main:group_notes' %}">Групповые заметки</a></button>
            <button>Создать группу</button>
            <button><a href="{% url 'notes_main:note_creation' %}">Создать заметку</a></button>
        </div>
        {% if request.resolver_match.url_name == 'personal_notes' %}
            {% block personal_notes %}
            {% endblock %}
        {% endif %}
        {% if request.resolver_match.url_name == 'group_notes' %}
            {% block group_notes %}
            {% endblock %}
        {% endif %}
        {% if request.resolver_match.url_name == 'note_creation' %}
            {% block note_creation %}
            {% endblock %}
        {% endif %}
        {% if request.resolver_match.url_name == 'user_registration' %}
            {% block user_registration %}
            {% endblock %}
        {% endif %}
        {% if request.resolver_match.url_name == 'user_login' %}
            {% block user_login %}
            {% endblock %}
        {% endif %}
        <div class="friends">
            <h2>Мои друзья</h2>
            <ul>
                <li>
                    <span>Друг 1</span>
                    <button class="invite-btn">Пригласить в группу</button>
                </li>
                <li>
                    <span>Друг 2</span>
                    <button class="invite-btn">Пригласить в группу</button>
                </li>
                <li>
                    <span>Друг 3</span>
                    <button class="invite-btn">Пригласить в группу</button>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Заметки. Все права защищены.</p>
    </footer>
    <script src="{% static "notes_main/notes_main.js" %}"></script>
</body>
</html>
