{% extends 'notes_main/base.html' %}
{% load user_tags %}
{% load static %}
{% load notes_tags %}

{% block group_notes %}
<div class="content">
            <button class="prev" id="prevNote">&#10094;</button>
            {% get_notes as notes %}
            {% for note in notes %}
                {% if note.group is not Null %}
                {% if request.user.is_authenticated and note.user == request.user %}
                <div class="notes personal-note">
                    <div class="note">
                        <h2>{{ note.note_title }}</h2>
                        <p>{{ note.note_text }}</p>
                        <div class="tags">
                            {% if note.get_importance_status_tag_display is not Null %}
                            <span class="tag important">{{ note.get_importance_status_tag_display }}</span>
                            {% endif %}
                            {% if note.get_completion_status_tag_display is not Null %}
                            <span class="tag completed">{{ note.get_completion_status_tag_display }}</span>
                            {% endif %}
                        </div>
                        <div class="meta">
                            <p>{{ note.note_creation_date }}</p>
                            <p>{{ note.note_refresh_date }}</p>
                            <p>{{ note.user.username }}</p>
                            <p>{{ note.group.group_name }}</p>
                        </div>
                    </div>
                </div>
                <div class="note-pair"></div>
                {% endif %}
                {% endif %}
            {% endfor %}
            <button class="next" id="nextNote">&#10095;</button>
        </div>
{% endblock %}