<div class="content">
    <button class="prev" id="prevNote">&#10094;</button>
    {% get_notes as notes %}
    {% for note in notes %}
        <div class="notes personal-note">
            <div class="note">
                <h2>{{ note.note_title }}</h2>
                <p>{{ note.note_text }}</p>
                <div class="tags">
                    <span class="tag important">{{ note.importance_status_tag }}</span>
                    <span class="tag completed">{{ note.completion_status_tag }}</span>
                </div>
                <div class="meta">
                    <p>{{ note.note_creation_date }}</p>
                    <p>{{ note.note_refresh_date }}</p>
                    {% get_user as users %}
                    {% for user in users %}
                        <p>{{ user.nickname}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<button class="prev" id="prevNote">&#10094;</button>
<button class="next" id="nextNote">&#10095;</button>

<div class="content">
    <button class="prev" id="prevNote">&#10094;</button>
    {% get_notes as notes %}
    {% for note in notes %}
        <div class="notes group-note">
            <div class="note">
                <h2>{{ note.note_title }}</h2>
                <p>{{ note.note_text }}</p>
                <div class="tags">
                    <span class="tag important">{{ note.importance_status_tag }}</span>
                    <span class="tag completed">{{ note.completion_status_tag }}</span>
                </div>
                <div class="meta">
                    <p>{{ note.note_creation_date }}</p>
                    <p>{{ note.note_refresh_date }}</p>
                    {% get_user as users %}
                    {% for user in users %}
                        <p>{{ user.nickname}}</p>
                    {% endfor %}
                </div>
            </div>
    {% endfor %}